.cardPatrimonio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid 0;
    background-color: var(--terciaria);
    border-radius: 8px;
    width: 80%;
}

.listagem {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.equipamentos, .patrimonios {
    display: flex;
    gap: 2rem;
}

.texto {
    color: var(--primaria);
    font-size: 18px;
    font-weight: 500;
}

.textoCampo {
    color: var(--primaria);
    font-weight: 550;
}


.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botao {
    padding: 0.4rem;
    border-radius: 8px;
    background-color: var(--secundaria);
    color: var(--terciaria);
    text-decoration: none;
    text-align: center;
}

.botao:hover {
    background-color: var(--primaria);
    transition: 0.2s;
    cursor: pointer;
}
