.cardPatrimonio {
    display: grid;
    grid-template-columns: repeat(10, 1fr) auto auto; 
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--branco-escuro);
    width: 100%;
}

.descricao {
    text-align: center;
    padding: 0.5rem;
    border: 1px solid var(--cinza-claro);
    border-radius: 2px;
    color: var(--primaria);
    min-height: 3rem;
    text-overflow: ellipsis; 
    font-weight: 450;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.botoesSuperior {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.botao {
    padding: 0.5rem;
    text-decoration: none;
    color: var(--branco-escuro);
    background-color: var(--primaria);
    border-radius: 4px;
    font-size: 15px;
    border: 0;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.botao:hover {
    background-color: #0056b3;
}

.inputEdicao {
    color: var(--primaria);
    width: 80%;
    text-align: center;
    font-size: 16px;
    background-color: var(--branco-escuro);
    border-radius: 3px;
    border: 1px solid var(--primaria);
    padding: 0.5rem;
}