.equipamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.equipamentoSuperior {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.descricao {
    display: grid;
    grid-template-columns: repeat(10, 11.5rem); 
    align-items: center;
    text-align: center;
    padding: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--branco-escuro);
    width: 70%;
}

.textoDescricao {
    color: var(--primaria);
    font-weight: 550;
    font-size: 20px;
}

.link {
        padding: 0.5rem;
        border-radius: 8px;
        border: 0;
        background-color: var(--primaria);
        color: var(--terciaria);
        text-decoration: none;
}

.link:hover {
    background-color: var(--cinza-escuro);
    cursor: pointer;
    transition: 0.3s;
}

.links {
    display: flex;
    gap: 1rem;
}

.mensagem {
    color: var(--secundaria);
    font-size: 16px;
}

.textoErro {
    color: var(--secundaria);
}