.equipamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.equipamentoSuperior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.equipamentoSuperiorCabecalho {
    display: flex;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.descricao {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    align-items: center;
    text-align: center;
    padding: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--branco-escuro);
    width: 95%;
}

.textoDescricao {
    color: var(--primaria);
    font-weight: 550;
    font-size: 20px;
}

.link {
        padding: 0.5rem;
        border-radius: 8px;
        border: 0;
        background-color: var(--primaria);
        color: var(--terciaria);
        text-decoration: none;
}

.link:hover {
    background-color: var(--cinza-escuro);
    cursor: pointer;
    transition: 0.3s;
}

.links {
    display: flex;
    gap: 1rem;
}

.filtros {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.selecao {
    background-color: var(--branco-escuro);
    color: var(--cinza-escuro);
    border-radius: 5px;
    font-size: 18px;
}

.opcao {
    font-size: 18px;
    color: var(--primaria);
    text-align: center;
}

.mensagem {
    color: var(--secundaria);
    font-size: 16px;
}

.textoErro {
    color: var(--secundaria);
}