.cardEquipamento {
    display: flex;
    align-items: center;
    border: 1px solid 0;
    border-radius: 12px;
    padding: 2rem;
    background-color: var(--branco-escuro);
    width: 90%;
}

.propriedades {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.linha {
    color: var(--primaria);
    margin-bottom: 1rem;
    width: 100%;
}

.textoPropriedade {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.textoPropriedade h1 {
    font-weight: 700;
    font-size: 18px;
}

.textoPropriedade h2 {
    font-size: 20px;
}

.texto {
    color: var(--primaria);
    font-size: 25px;
    font-weight: 500;
}
