.cardEquipamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid 0;
    border-radius: 12px;
    padding: 2rem;
    background-color: var(--cinza-claro);
    width: 50%;
}

.textoPropriedade {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.textoPropriedade h1 {
    font-weight: 600;
}

.texto {
    color: var(--primaria);
    font-size: 25px;
    font-weight: 500;
}
