.cardEquipamento {
    display: grid;
    grid-template-columns: repeat(10, 1fr) auto auto; 
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--branco-escuro);
    width: auto;
}

.descricao {
    text-align: center;
    padding: 0.5rem;
    border: 1px solid var(--cinza-claro);
    border-radius: 2px;
    color: var(--primaria);
    min-height: 3rem;
    text-overflow: ellipsis; 
    font-weight: 450;
}

