.historico {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.mensagem {
    color: var(--secundaria);
    font-size: 16px;
}

.textoErro {
    color: var(--secundaria);
}