.historicos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.mensagem {
    color: var(--secundaria);
    font-size: 16px;
}

.texto {
    font-size: 25px;
    color: var(--primaria);
    font-weight: 600;
}

.textoErro {
    color: var(--secundaria);
}

.historico {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Mantém sempre dois cards por linha */
    gap: 1rem;
    width: 100%;
    justify-content: center;
}
