.patrimonio {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.patrimonioSuperior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.descricao {
    display: grid;
    grid-template-columns: repeat(10, auto); 
    align-items: center;
    text-align: center;
    padding: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--branco-escuro);
    width: 90%;
}

.textoDescricao {
    color: var(--primaria);
    font-weight: 550;
    font-size: 20px;
}

.links {
    display: flex;
    gap: 1rem;
}

.link {
    padding: 0.5rem;
    border-radius: 8px;
    border: 0;
    background-color: var(--primaria);
    color: var(--terciaria);
    text-decoration: none;
}

.link:hover {
cursor: pointer;
transition: 0.3s;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.mensagem {
    color: var(--secundaria);
    font-size: 16px;
}

.textoErro {
    color: var(--secundaria);
}