.patrimonio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.patrimonioSuperior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.links {
    display: flex;
    gap: 1rem;
}

.link {
    padding: 0.5rem;
    border-radius: 8px;
    border: 0;
    background-color: var(--primaria);
    color: var(--terciaria);
    text-decoration: none;
}

.link:hover {
cursor: pointer;
transition: 0.3s;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.mensagem {
    color: var(--secundaria);
    font-size: 16px;
}

.textoErro {
    color: var(--secundaria);
}