.locado {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.textoErro {
    color: var(--secundaria);
}

.mensagem {
    color: var(--secundaria);
    font-size: 160px;
}