.cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.descricao {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    align-items: center;
    text-align: center;
    padding: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--branco-escuro);
    width: 100%;
}

.descricaoSuperior {
    display: flex;
    gap: 2rem;
}

.textoDescricao {
    color: var(--primaria);
    font-weight: 600;
    text-align: center;
}

.botao {
    padding: 0.5rem;
    border-radius: 8px;
    border: 0;
    background-color: var(--primaria);
    color: var(--terciaria);
    text-decoration: none;
    font-size: 16px;
}

.botao:hover, .botaoSalvar:hover{
    background-color: var(--cinza-escuro);
    cursor: pointer;
    transition: 0.3s;
}

.inputContainer {
    display: flex;
    gap: 0.3rem;
    background-color: var(--branco-escuro);
    padding: 0.3rem;
    border-radius: 15px;
}

.inputNovoCliente {
    border: transparent;
    padding: 0.3rem;
    border-radius: 15px;
    background-color: var(--branco-escuro);
    color: var(--primaria);
}

.botaoSalvar {
    background-color: var(--primaria);
    border-radius: 8px;
    padding: 0.3rem;
    border: 0;
}

