.textos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
}

.textoImportante {
    color: var(--secundaria);
    font-size: 24px;
    font-weight: 500;
}

.textoComum {
    font-size: 20px;
    font-weight: 500;
    color: var(--primaria);
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.categorias > * {
    flex: 1 1 calc(33.33% - 1rem);
    box-sizing: border-box;
}

.textoMarcado {
    color: var(--secundaria);
    font-weight: 550;
}

.textoLista {
    color: var(--secundaria);
    font-weight: 550;
    
}

.lista {
    list-style-type: none
}