.cardHistorico {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 0.5rem;
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--branco-escuro);
    width: 100%;
}

.textos {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    color: var(--primaria);
    font-weight: 450;
    text-align: center;
}

.texto {
    color: var(--primaria);
}

.propriedade {
    margin-top: 0.8rem;
    color: var(--primaria);
    font-weight: 450;
    border: 1px solid var(--cinza-claro);
    border-radius: 2px;
    padding: 0.3rem;
}