.estoquePatrimonio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.estoque {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.textoErro {
    color: var(--secundaria);
}

.mensagem {
    color: var(--secundaria);
    font-size: 16px;
}

.descricao {
    display: grid;
    grid-template-columns: repeat(10, auto); 
    align-items: center;
    text-align: center;
    padding: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--branco-escuro);
    width: 90%;
}

.textoDescricao {
    color: var(--primaria);
    font-weight: 550;
    font-size: 20px;
}