:root {
  font-family: "Montserrat", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primaria: #0d0d0d;
  --secundaria: #df1d24;
  --terciaria: #ffffff;
  --branco-escuro: #f5f0f0;
  --cinza-claro:rgb(221, 212, 212);
  --cinza-escuro: rgb(46, 45, 45);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--terciaria);
}

