.cardModificarEquipamento {
    width: 40%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border: 1px solid 0;
    border-radius: 12px;
    padding: 2rem;
    background-color: var(--cinza-claro);
    align-items: center;
}

.formulario {
    display: flex;
    gap: 1rem;
}

.texto {
    color: var(--cinza-escuro);
    font-size: 24px;
}

.input {
    border-radius: 8px;
    border: 0;
    width: 100%;
    color: var(--cinza-escuro);
    font-size: 24px;
}

.inputImagem {
    border-radius: 8px;
    border: 0;
    width: 100%;
    color: var(--cinza-escuro);
    font-size: 24px;
}

.botao {
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 8px;
    background-color: var(--primaria);
    padding: 0.5rem;
    border: 0;
}

.botao:hover {
    background-color: var(--cinza-escuro);
    cursor: pointer;
}